@import "../../Variables.scss";

.footer{
	background-color: #1b1b1d;
	padding: 35px;
	flex-direction: column;
	width: 100%;
	color: $secondary-text;
	font-size: 13px;
  	font-family: $main-font;
  	letter-spacing: 2px;
  	font-weight: 300;
	.footer__socialMedia{
		padding: 20px;
		i{
			margin: 15px;
			color: $secondary-text;
			font-size: 24px;
			transition: all .3s;
		}
		i:hover{
			color: lighten($secondary-text, 20%);
			transition: all .3s;
		}
	}
}