@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
$link: #535353;
$primary-text: #232323;
$light-text: #f9f9f9;
$secondary-text: #989898;
$main-font: 'Big Shoulders Display', cursive;